html {
    background-color: #e4e9fd;
    background-image: -webkit-linear-gradient(65deg, #BBCBCB 50%, #E5FFDE 80%);
    min-height: 1000px;
    font-family: 'helvetica neue';
}

h1 {
    color: #fff;
    padding: 10;
}

.box {
    max-width: 400px;
    margin: 50px auto;
    background: white;
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgba(0,0,0,0.3);
}

#heading {
    background-color: #634B66;
    text-align: center;
}

.item {
    min-height: 70px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #a5a1a1;
}

.item:last-child {
    border-bottom: 0;
}

input:checked+p {
    text-decoration: line-through;
    text-decoration-color: #81719c;
}

input[type="checkbox"] {
    margin: 20px;
}

p {
    margin: 0;
    padding: 20px;
    font-size: 17px;
    font-weight: 200;
    color: #00204a;
}

form.item {
    text-align: center;
    margin-left: 20px;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border-color: transparent;
    background-color: #957e9b;
    color: #fff;
    font-size: 30px;
}

input[type="text"] {
    text-align: center;
    height: 60px;
    top: 10px;
    border: none;
    background: transparent;
    font-size: 17px;
    font-weight: 200;
    width: 313px;
}

input[type="text"]:focus {
    outline: none;
    box-shadow: inset 0 -3px 0 0 #a683e3;
}

::placeholder {
    color: grey;
    opacity: 1;
}

footer {
    color: white;
    color: rgba(0,0,0,0.5);
    text-align: center;
}